@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000 */

.nunito-sans-small {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.nunito-sans-large {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

:root {
  --darkblue: hsl(209, 23%, 22%); /* dark mode elements */
  --verydarkblue: hsl(207, 26%, 17%); /*dark mode background */
  --verydarkbluetext: hsl(200, 15%, 8%); /* light mode text */
  --darkgray: hsl(0, 0%, 52%); /*Light Mode Input */
  --verylightgrey: hsl(0, 0%, 98%); /* Light Mode Background */
  --white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
}
body {
  background-color: var(--verylightgrey);
  color: var(--verydarkbluetext);
  font-family: "Nunito Sans", sans-serif;
}
.header {
  background-color: var(--white);
  color: var(--verydarkbluetext);
  font-family: "nunito-sans-regular";
  font-size: 1.5rem;
  font-weight: 800;
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-family: "nunito-sans-large";
    font-weight: bolder;
  }
}

.navContainter {
  grid-column: 3/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-size: 1rem;
}
.linkToSaved,
.darkMode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.countrySearch {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
  justify-content: space-between;
  select {
    background-color: var(--white);
    color: var(--verydarkbluetext);
    border: 2px solid rgba(195, 181, 181, 0.2);
    padding: 0.5rem;
    border-radius: 5px;
  }
}
.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 2px solid rgba(195, 181, 181, 0.2);
  background-color: var(--white);
  width: 25%;
  input {
    background-color: var(--white);
    width: 100%;
    border: none;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
  padding: 1rem;
  background-color: var(--verylightgrey);
  /* border-radius: 5px; */
  /* border-radius: 30px; */
}
.cardRoot {
  border: none;
  gap: 0;
  /* border-radius: 5px; */
  img {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgba(160, 142, 142, 0.2);
    width: 100%;
    height: auto;
    overflow: visible;
  }
}

.cardHeader {
  background-color: var(--white);
  color: var(--verydarkbluetext);
  font-family: "nunito-sans-large";
  font-weight: bolder;
  padding: 1rem;
  border-bottom: none;
}
.cardBody {
  background-color: var(--white);
  color: var(--verydarkbluetext);
  font-family: "nunito-sans-regular";
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}

form {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  gap: 1rem;
  input {
    background-color: var(--white);
    padding: 0.5rem;
  }
  textarea {
    background-color: var(--white);
    padding: 0.5rem;
  }
  h2 {
    font-family: "nunito-sans-large";
    font-weight: bolder;
  }
  .button-wrapper {
    width: 30%;
    background-color: #7572ce;
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    margin-top: 2rem;

    input {
      background-color: #7572ce;
      color: var(--white);
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      align-items: center;
    }
    /* border: 1px solid rgba(160, 142, 142, 0.2) */
  }
}
